<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!--Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      	<property name="connection.url">jdbc:mysql://hibernatedb.casvessiigsc.us-east-1.rds.amazonaws.com:3306/abodedb</property>
  		<property name="connection.username">root</property>
        <property name="connection.password">12345678</property>

        <!--Set the database dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--Echo all executed SQL to stdout-->
        <property name="show_sql">true</property>

        <!--Drop and re-create the database schema on startup-->
        <property name="hbm2ddl.auto">update</property>

        <!--Name the annotated Entity classes -->
        <mapping class="ca.sheridancollege.beans.Builder"/>
        <mapping class="ca.sheridancollege.beans.ConstructionPersonnel"/>
        <mapping class="ca.sheridancollege.beans.Deficiency"/>
        <mapping class="ca.sheridancollege.beans.Form"/>
     <!--    <mapping class="ca.sheridancollege.beans.FormBI"/> -->
        <mapping class="ca.sheridancollege.beans.HomeOwner"/>
        <mapping class="ca.sheridancollege.beans.Unit"/>
        <mapping class="ca.sheridancollege.beans.User"/>
        <mapping class="ca.sheridancollege.beans.UserRole"/>
        <mapping class="ca.sheridancollege.beans.WorkOrder"/>

    </session-factory>
</hibernate-configuration>