#error {
	color:red;
}

/*
Extra Large Button CSS
*/
.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 8px;
}

.no-link {
    color:inherit;
    text-decoration:none;
    pointer-events:none;
}

#btnHovering{
	background-color: #EDEEFF;
}
#btnHovering:hover{
	background-color: #9394AA;
	color:black;
}

#legendCon{
	margin: 2%;
}